body {
	margin: 50px auto;
	padding: 20px;
	text-align: center;
	background-color: #1dcaff;
	color: #fff;
}
a {
	color: #fff;
	text-decoration: none;
}
.quote {
	padding: 50px 0 5px;
}
.trigger {
	border: 1px solid #fff;
	background-color: #1dcaff;
	width: 200px;
	height: 30px;
	margin-top: 60px;
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
}
.tweet {
	display: inline-block;
	border: 1px solid #fff;
	width: 200px;
	height: 30px;
	line-height: 30px;
	margin: 30px 0;
}
.author {
	text-decoration: underline;
}